body, html {background-color: #EEEEEE;}
#kontener {
    width: 1000px;
    margin: auto;
    text-align: center;
}
.menu {
    background-color: #C0C0C0;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo {
    width: 400px;
    float: left;
}
#menu {
    width: 600px;
    float: left;
}
#baner {
    clear: both;
    background-color: #DDDDDD;
    height: 200px;
}
#main {
    margin: 50px;
}
footer {
    text-align: right;
}
#menu a {
    color: #555555;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
}
hr {
    background-color: #C0C0C0;
    width: 70%;;
    border: 2px solid;
} 
table {
    text-align: left;
}