header{
	background-color: #4E885C;
	color: orange;
	text-align: center;
	height: 110px;
}
img {
	height: 100px;
}
#lewy {
	background-color: #72A37D;
	width: 30%;
	height: 300px;
	float: left;
}
#srodkowy {
	background-color: #A2D3A9;
	background-image: url("pizza.png");
	background-repeat: no-repeat;
	width: 40%;
	height: 300px;
	float: left;
}
#prawy {
	background-color: #72A37D;
	width: 30%;
	height: 300px;
	text-align: center;
	float: left;
}
#dolny {
	background-color: #A2D3A9;
	text-align: center; 
	height: 250px;
	clear: both;
}
#odsylacz{
	background-color: orange;
	color: green;
	padding: 15px
}
footer{
	background-color: #4E885C;
	color: orange;
}
li {
  margin-left: 160px;
  margin-right: 200px;
}